           
.container-contenedor
{
    background-image: -webkit-linear-gradient(62deg, #494c50 0%, #4e4a52 50%, #d2c5c5 100%);
	background-image: -moz-linear-gradient(62deg, #494c50 0%, #4e4a52 50%, #d2c5c5 100%);
	background-image: -o-linear-gradient(62deg, #494c50 0%, #4e4a52 50%, #d2c5c5 100%);
	background-image: linear-gradient(62deg, #494c50 0%, #4e4a52 50%, #d2c5c5 100%);

}
.formulario2
{
	background-image: -webkit-linear-gradient(160deg, #8b928b 0%, #0c1817 50%, #ffffff 100%);
	background-image: -moz-linear-gradient(160deg, #8b928b 0%, #0c1817 50%, #ffffff 100%);
	background-image: -o-linear-gradient(160deg, #8b928b 0%, #0c1817 50%, #ffffff 100%);
	background-image: linear-gradient(160deg, #8b928b 0%, #0c1817 50%, #ffffff 100%);
    border-radius: 20px;
    padding: 10px 100px 10px 100px ;
    margin: 50px 200px 50px 200px;
    border-top: 2px solid black; 
    border-bottom: 2px solid black; 
    color: white;
}

.row img
{
    width: 120px;
    height: 120px;
}

.reg
{
    width: 100%;
    background-color: transparent;
    padding: 10px;;
    font-size: 15px;   
    border-radius: 4px;
    margin-bottom: 30px;
}

.reg label
{
   display: block;
   margin-top: 10px;
   font-size: 15px; 
}
.reg input
{
    width: 100%;
    border:none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
}

button{
    background-color: black;
    color: white;
    padding: 10px 50 px;
    font-size: 25px;    
    width: 50%;
 }
option
{
	color: black;
}
 .reg a
 {
    color:rgb(67, 45, 158);
    text-decoration:none; 
    color: white;  
 } 