
.imagenregistro {
padding: 0px 0px 0px 133px;
}



h3 {

    width: 500px;
    padding: 28px 200px 25px 80px;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}





.formulario2 {
    border: solid 2px rgb(0, 0, 0);
    border-radius: 20px;
    background: radial-gradient(circle, rgba(59, 149, 255, 1) 0%, rgba(44, 236, 255, 1) 100%);
    padding: 50px;
    margin: 20px 0px 20px 397px;
    width: 500px;

}

.reg {
    line-height: 27px;
    padding: 4px 0px 4px 80px;
    width: 200px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.r {
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    border: 2px solid rgb(0, 81, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(17, 17, 17);
    background-color: rgb(201, 201, 201);
}

.botonreg {
    padding: 30px 0px 0px 121px;
    line-height: 27px;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.regresar {
    line-height: 27px;
    padding: 10px 0px 0px 156px;
    width: 200px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}