body{
    background: linear-gradient(143deg, rgba(249,164,118,1) 18%, rgba(255,183,177,1) 35%, rgba(245,108,238,1) 81%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
    
}

header{
    background-color: black;    

}

#menu ul  {
    list-style: none;
    margin:0;
    
}

#menu ul li{
    float:right;
}

#menu a{
    color: blanchedalmond;
    text-decoration: none;
    display: block;
    padding: 12px 26px;
    font-family:'Courier New', Courier, monospace;
}

#menu a:hover{
    background: linear-gradient(45deg, rgba(243, 0, 211), rgb(103, 21, 255), rgb(27, 106, 224));
    border-radius: 50px;
}

.titu2{
    text-align: center;
}
/* titulo */
h1{
    display: inline-block;
    position: relative;
    color: rgb(240, 239, 239);
    font-family:'Courier New', Courier, monospace
}

/* lineas */

h1::after,h1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
}

h1::before{
    left: -140px;
}

h1::after{
    right: -140px;
}

/* redes */
/* circulo
.redes{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border-radius: 100%;
}
*/
.separador{
    height: 5px;
}
.facebook{
    margin-left: 30px;
    
}

img{
    transition: all 0.5s linear;
}

img:hover{
    transform: scale(0.9);
}
section{
    min-height: 410px;
}
input[type='submit']{
    background: #f06226;
    border: 0;
    color: #fff;
    padding: 10px 15px;
    cursor:pointer;
}
#resultado h3{
    background: linear-gradient(45deg, rgb(7, 55, 231), rgb(73, 76, 239), rgb(96, 123, 220));
    padding: 30px;
    margin: 10px 0;
    border-radius: 20px;
}
#resultado span{
    color: #000;
    font-weight: bold;
    border-radius: 20px;
    padding: 60px;
}
#resultado{
    margin-left: 80px;
    margin-right: 80px;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 60px;
}








.main{
    height: 1200px;
}
/* PIE DE PAGINA */

footer{
    background: black;
    text-align: center;
    color: rgb(255, 255, 255);
}